body {
  align-items: center;
  text-align: center;
  margin-top: 100px;
  background-color: rgb(201, 239, 239);
  font-size: 30px;

}

button {
  padding: 20px;
  border-radius: 4px;
  background-color: blueviolet;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgb(86, 58, 113);
}

input {
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(197, 153, 238);
  display: inline;
}

